In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [4]:
data=pd.read_csv("Visitor_Prediction_Multiple_Linear_Regression_data.csv")

In [5]:
 data.head(10)

,Date,Views_show,Visitors,Views_platform,Ad_impression,Cricket_match_india,Character_A,Unnamed: 7
0,3/1/2017,183738,1260228,1706478,1060860448,0,0,NaN
1,3/2/2017,193763,1270561,1690727,1031846645,0,0,NaN
2,3/3/2017,210479,1248183,1726157,1010867575,0,0,NaN
3,3/4/2017,240061,1492913,1855353,1079194579,1,0,NaN
4,3/5/2017,446314,1594712,2041418,1357736987,0,0,NaN
5,3/6/2017,342997,1330689,1742540,1140228426,0,0,NaN
6,3/7/2017,227313,1363579,1821742,1113811802,0,0,NaN
7,3/8/2017,180313,1353483,1795456,1083475096,0,0,NaN
8,3/9/2017,178800,1345428,1794157,1067636147,0,0,NaN
9,3/10/2017,201180,1344540,1834967,1081234843,0,0,NaN

In [6]:
data.shape

(80, 8)

In [7]:
data=data.drop('Unnamed: 7',axis=1)

In [8]:
data

,Date,Views_show,Visitors,Views_platform,Ad_impression,Cricket_match_india,Character_A
0,3/1/2017,183738,1260228,1706478,1060860448,0,0
1,3/2/2017,193763,1270561,1690727,1031846645,0,0
2,3/3/2017,210479,1248183,1726157,1010867575,0,0
3,3/4/2017,240061,1492913,1855353,1079194579,1,0
4,3/5/2017,446314,1594712,2041418,1357736987,0,0
5,3/6/2017,342997,1330689,1742540,1140228426,0,0
6,3/7/2017,227313,1363579,1821742,1113811802,0,0
7,3/8/2017,180313,1353483,1795456,1083475096,0,0
8,3/9/2017,178800,1345428,1794157,1067636147,0,0
9,3/10/2017,201180,1344540,1834967,1081234843,0,0
10,3/11/2017,218956,1500926,1926280,1119900035,0,0
11,3/12/2017,437117,1554859,2015050,1390620085,0,0
12,3/13/2017,263638,1438887,1808967,1231295791,0,0
13,3/14/2017,185896,1459500,1864134,1210330496,0,0
14,3/15/2017,184346,1410668,1896352,1189319112,0,0
15,3/16/2017,132409,1394130,1867785,1152287474,0,0
16,3/17/2017,169225,1438125,1885937,1172698178,0,0
17,3/18/2017,251851,1582773,2016477,1329477115,0,0
18,3/19/2017,476130,1723653,2155393,1714732753,0,0
19,3/20/2017,279880,1528669,1924030,1588375831,0,0
20,3/21/2017,215077,1538487,2015064,1554738251,0,0
21,3/22/2017,173280,1474098,1967000,1439043318,0,0
22,3/23/2017,200993,1484382,1998116,1420880566,0,0
23,3/24/2017,206830,1461298,1965232,1402238110,0,0
24,3/25/2017,236106,1678527,2096071,1469853604,0,1
25,3/26/2017,650563,1924046,2465763,2158026705,0,1
26,3/27/2017,460492,1612675,2165206,1928850028,0,1
27,3/28/2017,379396,1635533,2241286,1830391771,0,1
28,3/29/2017,343223,1568398,2224833,1710096924,0,1
29,3/30/2017,333613,1630580,2134012,1654933815,0,1
...,...,...,...,...,...,...,...
50,4/20/2017,169074,1785345,2390240,1346215059,0,1
51,4/21/2017,182208,1810697,2387054,1323744093,0,1
52,4/22/2017,369758,2143350,2704661,1336157323,0,1
53,4/23/2017,712778,2344650,3064422,1890967819,0,1
54,4/24/2017,349008,2060757,2560083,1590193671,0,0
55,4/25/2017,218466,1928796,2441818,1383577770,0,0
56,4/26/2017,208445,1848354,2388369,1294777190,0,0
57,4/27/2017,164043,1772449,2303380,1216537437,0,0
58,4/28/2017,162815,1727098,2189048,1145369229,0,0
59,4/29/2017,266086,1953231,2462984,1200654188,0,0
60,4/30/2017,544814,2187064,2731451,1698345214,0,0
61,5/1/2017,279700,1904704,2323887,1623666951,0,0
62,5/2/2017,196026,1816855,2294150,1388283566,0,0
63,5/3/2017,162150,1780230,2278880,1262254571,0,0
64,5/4/2017,143112,1731468,2214359,1199377174,0,0
65,5/5/2017,140666,1738676,2160395,1189257839,0,0
66,5/6/2017,280065,2016144,2423599,1342773863,0,0
67,5/7/2017,562943,2163629,2681882,1686752144,0,0
68,5/8/2017,271341,1840748,2249542,1403797010,0,0
69,5/9/2017,217791,1821016,2313219,1321700567,0,0
70,5/10/2017,142302,1784534,2256757,1229347176,0,0
71,5/11/2017,110202,1689260,2145511,1146505497,0,0
72,5/12/2017,102520,1697576,2135342,1161183285,0,0
73,5/13/2017,253228,1900320,2340236,1190253439,1,0
74,5/14/2017,631962,2135756,2603553,1614010862,1,0
75,5/15/2017,313945,1808684,2226788,1398052759,1,0
76,5/16/2017,185689,1814227,2199844,1311961223,1,0
77,5/17/2017,142260,1755803,2225752,1248266254,1,0
78,5/18/2017,135871,1749654,2302789,1284859759,1,0
79,5/19/2017,108961,1746735,2279036,1246026846,1,0

In [9]:
x=data.drop(data.columns[[0, 2]],axis=1)
y=data.Visitors

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.2, random_state=12)

In [11]:
reg=LinearRegression()

In [13]:
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [16]:
predictions=reg.predict(x_test)

In [17]:
predictions[0]

1876310.9752833394

In [18]:
y_test

56    1848354
12    1438887
14    1410668
7     1353483
42    1598403
41    1700031
8     1345428
74    2135756
29    1630580
17    1582773
26    1612675
19    1528669
66    2016144
21    1474098
53    2344650
23    1461298
Name: Visitors, dtype: int64

In [19]:
r2_score(y_test,predictions)

0.9504285590917474